footer {
  /* position :absolute; */
  background-color: transparent !important;
  bottom : 0;
  width: 100%;
  color: white;

}
.footerChaftari
{
  background-color: rgb(35 38 132)!important;
  border-radius: 0.8rem 0.8rem 0rem 0rem;

}
