
<div class="navbar navbar-expand navbar-dark bg-primary" (click)="toggleMenu()" > <a id="menu-toggle"
    class="navbar-brand"><span class="navbar-toggler-icon"></span></a> <button class="navbar-toggler" type="button"
    data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false"
    aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>

</div>
<div id="wrapper" class="toggled">

  <div id="sidebar-wrapper" class="borderRadiusSide">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">  Categories  </li>
      <li (click)="toggleMenu()"> <a >Dashboard</a> </li>
      <li (click)="toggleMenu()"> <a >Dashboard</a> </li>
      <li (click)="toggleMenu()"> <a >Dashboard</a> </li>
      <li (click)="toggleMenu()"> <a >Dashboard</a> </li>
      <li (click)="toggleMenu()"> <a >Dashboard</a> </li>
      <li (click)="toggleMenu()"> <a >Dashboard</a> </li>
      <li (click)="toggleMenu()"> <a >Dashboard</a> </li>
    </ul>
  </div>
    <div class="container-fluid">
      <ul class="carouselList">
        <li  *ngFor="let category of categories">
          <app-product-category category={{category.Title}} categoryId={{category.id}}></app-product-category>

        </li>
      </ul>

      <hr>

    </div>
</div>



<div>

</div>
