
.form-check-label {
  padding-right: 1.25rem;
}

.form-check-input {
  margin-right: -1.25rem;
}

.form-check-inline {
  padding-right: 1.25rem;
}

  .form-check-inline + .form-check-inline {
      margin-right: .75rem;
  }

.form-control-feedback {
  margin-top: 0.25rem;
}

.form-control-success,
.form-control-warning,
.form-control-danger {
  padding-left: 2.25rem;
  background-position: center right 0.625rem;
}

.form-inline .form-check-label {
  padding-right: 0;
}

.dropdown-toggle::after {
  margin-right: 0.3em;
}

.dropdown-menu {
  right: 0;
  float: right;
  margin: 2px 0 0;
  text-align: right;
}

.dropdown-divider {
  margin: 0.5rem 0;
}



.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-right: -1px;
}

.btn-toolbar {
  margin-right: -0.5rem;
}



  .btn-toolbar > .btn,
  .btn-toolbar > .btn-group,
  .btn-toolbar > .input-group {
      margin-right: 0.5rem;
  }

.btn-group > .btn:first-child {
  margin-right: 0;
}

.btn-group > .btn-group {
  float: right;
}

.btn + .dropdown-toggle-split::after {
  margin-right: 0;
}


.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-right: 0;
}

.input-group .form-control {
  float: left;
}

.input-group-addon:not(:last-child) {
  border-right: 1px solid rgba(0,0,0,.15);
  border-left: 0;
}

.form-control + .input-group-addon:not(:first-child) {
  border-left-width: medium;
  border-right: 0;
}



.input-group-btn > .btn + .btn {
  margin-right: -1px;
}

.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group {
  margin-left: -1px;
}

.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group {
  margin-right: -1px;
}

.custom-control {
  padding-right: 1.5rem;
}

  .custom-control + .custom-control {
      margin-right: 1rem;
  }

.custom-control-indicator {
  right: 0;
}

.custom-controls-stacked .custom-control + .custom-control {
  margin-right: 0;
}

.custom-select {
  padding-left: 0.75rem \9;
}

.nav {
  padding-right: 0;
}



  .nav-tabs .nav-item + .nav-item {
      margin-right: 0.2rem;
  }



  .nav-pills .nav-item + .nav-item {
      margin-right: 0.2rem;
  }

.nav-stacked .nav-item + .nav-item {
  margin-right: 0;
}







.navbar-nav .nav-link + .nav-link {
  margin-right: 1rem;
}

.navbar-nav .nav-item + .nav-item {
  margin-right: 1rem;
}

@media (max-width: 543px) {
  .navbar-toggleable .navbar-nav .nav-item {
      margin-right: 0;
  }
}

@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .nav-item {
      margin-right: 0;
  }
}

@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .nav-item {
      margin-right: 0;
  }
}

.card-link + .card-link {
  margin-right: 1.25rem;
}

.card-blockquote {
  border-right: 0;
}

.breadcrumb-item {
  float: right;
}

.pagination {
  padding-right: 0;
}

.page-item:first-child .page-link {
  margin-right: 0;
}

.page-link {

  margin-right: -1px;
}

.alert-dismissible {
  padding-left: 2rem;
}

  .alert-dismissible .close {
      left: -1rem;
  }

.media-list {
  padding-right: 0;
}

.list-group {
  padding-right: 0;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  right: 0;
}

.close {
  float: left;
}

.tooltip {
  text-align: right;
}

  .tooltip.tooltip-top .tooltip-arrow,
  .tooltip.bs-tether-element-attached-bottom .tooltip-arrow {
      right: 50%;
      margin-right: -5px;
  }

  .tooltip.tooltip-bottom .tooltip-arrow,
  .tooltip.bs-tether-element-attached-top .tooltip-arrow {
      right: 50%;
      margin-right: -5px;
  }

.popover {
  right: 0;
  text-align: right;
}

  .popover.popover-top .popover-arrow,
  .popover.bs-tether-element-attached-bottom .popover-arrow {
      right: 50%;
      margin-right: -11px;
  }

      .popover.popover-top .popover-arrow::after,
      .popover.bs-tether-element-attached-bottom .popover-arrow::after {
          margin-right: -10px;
      }

  .popover.popover-bottom .popover-arrow,
  .popover.bs-tether-element-attached-top .popover-arrow {
      right: 50%;
      margin-right: -11px;
  }

      .popover.popover-bottom .popover-arrow::after,
      .popover.bs-tether-element-attached-top .popover-arrow::after {
          margin-right: -10px;
      }

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .carousel-item.next,
  .carousel-inner > .carousel-item.active.right {
      right: 0;
  }

  .carousel-inner > .carousel-item.prev,
  .carousel-inner > .carousel-item.active.left {
      right: 0;
  }

      .carousel-inner > .carousel-item.next.left,
      .carousel-inner > .carousel-item.prev.right,
      .carousel-inner > .carousel-item.active {
          right: 0;
      }
}

.carousel-inner > .active {
  right: 0;
}

.carousel-inner > .next {
  right: 100%;
}

.carousel-inner > .prev {
  right: -100%;
}

  .carousel-inner > .next.left,
  .carousel-inner > .prev.right {
      right: 0;
  }

.carousel-inner > .active.left {
  right: -100%;
}

.carousel-inner > .active.right {
  right: 100%;
}

/*.carousel-control {
right: 0;
}

.carousel-control.right {
left: 0;
right: auto;
}*/

.carousel-control .icon-prev {
  right: 50%;
  margin-right: -10px;
}

.carousel-control .icon-next {
  left: 50%;
  margin-left: -10px;
}

.carousel-indicators {
  right: 50%;
  padding-right: 0;
  margin-right: -30%;
}

.carousel-caption {
  left: 15%;
  right: 15%;
  z-index: 10;
}

@media (min-width: 544px) {
  .carousel-control .icon-prev {
      margin-right: -15px;
  }

  .carousel-control .icon-next {
      margin-left: -15px;
  }

  .carousel-caption {
      left: 20%;
      right: 20%;
  }
}



/*!
* Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
* Copyright 2013-2017 Start Bootstrap
* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
*/

body {
overflow-x: hidden;
}

#wrapper {
padding-left: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

#wrapper.toggled {
/* padding-left: 250px; */
border-radius: 0rem 1rem 1rem 0rem;
height: 80%;

}

#sidebar-wrapper {
z-index: 10000000;
position: fixed;
/* right: 250px; */
width: 0;
height: 100%;
margin-right: -250px;
overflow-y: auto;
background: rgb(255, 255, 255);
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
margin-top: 5rem;
height: 60% !important;
box-shadow: 0px 2px 12px 6px rgb(0 0 0 / 19%);
}

#wrapper.toggled #sidebar-wrapper {
width: 250px;
}

#page-content-wrapper {
width: 100%;
position: absolute;
padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
position: absolute;
margin-right: 0px;
}


/* Sidebar Styles */

.sidebar-nav {
position: absolute;
top: 0;
width: 250px;
margin: 0;
padding: 0;
list-style: none;
}

.sidebar-nav li {
text-indent: 20px;
line-height: 40px;
}

.sidebar-nav li a {
display: block;
text-decoration: none;
color: #999999;
text-align: center;
}

.sidebar-nav li a:hover {
text-decoration: none;
color: rgb(0, 0, 0);
background: #23268496;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
height: 65px;
font-size: 18px;
line-height: 60px;
font-weight: 600;
}

.sidebar-nav>.sidebar-brand a {
color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
color: #fff;
background: none;
}

@media(min-width:768px) {
#wrapper {
  padding-left: 0;
  border-radius: 0rem 1rem 1rem 0rem !important;
}
#wrapper.toggled {
  /* padding-right: 250px; */
  /* border-radius: 0rem 1rem 1rem 0rem !important; */

}
#sidebar-wrapper {
  width: 0;
  border-radius: 0rem 1rem 1rem 0rem !important;
  box-shadow: 0px 2px 12px 6px rgb(0 0 0 / 19%);
  overflow: hidden;

}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
  border-radius: 0rem 1rem 1rem 0rem !important;
}
#page-content-wrapper {
  padding: 20px;
  position: relative;
}
#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0;
}
}
.navbar{
  position: fixed;
  /* top: 7%; */
  z-index: 100000;
  border-radius: 0rem 1rem 1rem 0rem;
  margin-top: 1rem;
  background-color: #232684 !important;
  box-shadow: 0px 2px 12px 6px rgb(0 0 0 / 19%);
  padding: 0.5rem 0rem 0.5rem 0.5rem;
}
.borderRadiusSide
{
  border-radius: 0rem 1rem 1rem 0rem;

}
.carouselList
{
  list-style: none;
  padding: 0;
}
