<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <carousel id="slideshow" [height]="400" [cellsToShow]="1" [dots]="true">

          <div class=" carousel-cell" *ngFor="let slide of product.productImage">
            <div class="carouselText">
              <!-- <div class="carouselInnerText">{{slide.Text}}</div> -->

            </div>
            <img class="carouselImg" src="http://localhost:1337{{slide.formats.large.url}}" width="auto" height="auto"
              style="object-fit: cover;">
          </div>

        </carousel>

        <!-- <img src="http://localhost:1337{{product.productImage[0].formats.large.url}}" class="img-fluid" alt=""> -->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">
          <!-- <p class="lead font-weight-bold">{{product.productName}}</p> -->
          <!-- <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1"></span>
            </a>
            <a href="">
              <span class="badge blue mr-1">New</span>
            </a>
            <a href="">
              <span class="badge red mr-1">Bestseller</span>
            </a>
          </div> -->
          <p class="lead font-weight-bold">{{product.productName}}</p>
          <p class="lead">
            <!-- <span class="mr-1">
              <del>$200</del>
            </span> -->
            <span>${{product.productPrice}}</span>
          </p>

          <p class="lead font-weight-bold">Description</p>

          <p>{{product.productDescription}}</p>






          <form class="d-block justify-content-left">

            <div class="inputItemCustom">
              <div class="inputTitle">Color:</div>
            <div class="custom-radios">
              <div *ngFor="let color of product.colors">
                <input type="radio" id="productColorItem{{color.color}}" name="color" value="{{color.color}}" checked>
                <label for="productColorItem{{color.color}}">
                  <span id="productColorItemSpan{{color.color}}">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon"
                      class="colorCheckImg" />
                  </span>
                </label>
              </div>
            </div>
          </div>


          <div class="inputItemCustom">
            <div class="inputTitle">Size:</div>

            <div class="custom-radios">
              <div *ngFor="let size of product.sizes">
                <input type="radio" id="productSizeItem{{size.size}}" name="size" value="{{size.size}}" checked>
                <label for="productSizeItem{{size.size}}">
                  <span id="productSizeItemSpan{{size.size}}" style="background-color: lightgray;">
                    {{size.size}}
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="inputItemCustom">
            <div class="inputTitle">Quantity:</div>
            <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
            <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </button>
          </div>

          </form>



        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 text-center">

        <h4 class="my-4 h4">Additional information</h4>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
          voluptates,
          quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>
<!--Main layout-->
