<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-light borderRadius stayOnTop" >
  <a class="navbar-brand brandColor" href="/home">CHAFTARI</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent" data-toggle="collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " id="homeIndicator" routerLinkActive="active" (click)="toggleNavbar()">
        <a class="nav-link" [routerLink]="['home']" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" id="shopIndicator" routerLinkActive="active" (click)="toggleNavbar()">
        <a class="nav-link" [routerLink]="['shop']">Shop </a>
      </li>
      <li class="nav-item" id="aboutIndicator" routerLinkActive="active" (click)="toggleNavbar()">
        <a class="nav-link" [routerLink]="['about']">About</a>
      </li>
      <li class="nav-item" id="contactIndicator" routerLinkActive="active" (click)="toggleNavbar()">
        <a class="nav-link" [routerLink]="['contact']">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


