footer {
  /* position :absolute; */
  background-color: transparent !important;
  bottom : 0;
  width: 100%;
  color: white;
  z-index: 100000000;
  /* bottom: 0; */
  position: fixed;

}
@media(min-width:768px) {
  footer {
  /* position :absolute; */
  background-color: transparent !important;
  bottom : 0;
  width: 100%;
  color: white;
  z-index: 100000000;
  /* bottom: 0;
  position: absolute; */
  position:unset !important;


}
}
.footerChaftari
{
  background-color: rgb(35 38 132)!important;
  border-radius: 0.8rem 0.8rem 0rem 0rem;

}
