<!-- <footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3 footerChaftari" style="background-color: rgb(35 38 132)">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer> -->

<footer class="bg-light text-center text-lg-start" >
  <!-- Grid container -->
  <div class="container p-4" >
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase footerTitle">Contact Us</h5>

        <app-socials></app-socials>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase footerTitle">Categories</h5>

        <ul class="list-unstyled mb-0 ">
          <li class="nav-item  " id="homeIndicator" routerLinkActive="active" >
            <a class="nav-link text-white" [routerLink]="['home']" >Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" id="shopIndicator" routerLinkActive="active" >
            <a class="nav-link text-white" [routerLink]="['shop']">Shop </a>
          </li>
          <li class="nav-item" id="aboutIndicator" routerLinkActive="active" >
            <a class="nav-link text-white" [routerLink]="['about']">About</a>
          </li>
          <li class="nav-item" id="contactIndicator" routerLinkActive="active" >
            <a class="nav-link text-white" [routerLink]="['contact']">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase footerTitle">Links</h5>

        <ul class="list-unstyled mb-0 ">
          <li class="nav-item  " id="homeIndicator" routerLinkActive="active" >
            <a class="nav-link text-white" [routerLink]="['home']" >Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" id="shopIndicator" routerLinkActive="active" >
            <a class="nav-link text-white" [routerLink]="['shop']">Shop </a>
          </li>
          <li class="nav-item" id="aboutIndicator" routerLinkActive="active" >
            <a class="nav-link text-white" [routerLink]="['about']">About</a>
          </li>
          <li class="nav-item" id="contactIndicator" routerLinkActive="active" >
            <a class="nav-link text-white" [routerLink]="['contact']">Contact</a>
          </li>
        </ul>
      </div>
