footer {
  /* position :absolute; */
  background-color: rgb(220 220 220)!important;
  bottom : 0;
  width: 100%;
  color: rgb(0, 0, 0);
  z-index: 100000000;
  /* bottom: 0; */
  /* position: fixed; */
}
@media(min-width:768px) {
  footer {
  /* position :absolute; */
  /* background-color: transparent !important; */
  bottom : 0;
  width: 100%;
  color: rgb(0, 0, 0);
  z-index: 100000000;
  /* bottom: 0;
  position: absolute; */
  position:unset !important;
  text-align: left !important;



}

}
.footerChaftari
{
  background-color: rgb(220 220 220)!important;
  /* border-radius: 0.8rem 0.8rem 0rem 0rem; */

}
.text-white
{
  color: rgb(0, 0, 0) !important;
}
.footerTitle
{
  margin-top: 2.5rem;
}
.p-4
{
  padding-bottom: 3.5rem !important;
}
